.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.txtImg {
  display: flex;
  align-items: center;
  gap: 5px;
}

.img {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 10px;
}

.noReviews {
  font-size: 20px;
  margin: 24px;
}
